<article class="product-card" onclick="abrirPanel(
    '<%= producto.nombre %>',
    '<%= producto.puntos %>',
    '<%- JSON.stringify(producto.imagenes).replace(/"/g, "&quot;") %>',
    '<%= producto.descripcion %>'
)">
    <div class="product-image">
        <img src="/img/<%= producto.imagenes[0] %>" alt="<%= producto.nombre %>">
    </div>
    <div class="product-info">
        <h4 class="product-name"><%= producto.nombre %></h4>
        <div class="product-footer">
            <p class="product-price">$<%= producto.precio %></p>
        </div>
    </div>
</article>