<main class="category-page">
    
    <div class="category-breadcrumb-container">
        <div class="product-breadcrumb" style="margin-bottom: 0;">
            <a href="/">Home</a> 
            <i class="fa-solid fa-angle-right"></i> 
            <span class="category-breadcrumb-active"><%= categoriaNombre %></span>
        </div>
    </div>

    <%- include('../partials/category-nav') %>

    <section class="products-section" style="min-height: 50vh;">
        
        <h2 style="text-transform: capitalize;">Categoría: <%= categoriaNombre %></h2>
        
        <% if (productos && productos.length > 0) { %>
            <div class="products-grid">
                <% productos.forEach(producto => { %>
                    <%- include('../partials/productCard', { producto: producto }) %>
                <% }); %>
            </div>
        <% } else { %>
            <div class="sugeridos-vacio" style="margin-bottom: 50px;">
                <i class="fa-regular fa-face-frown"></i>
                <p>Lo sentimos, no hay productos en esta categoría en este momento.</p>
            </div>
        <% } %>
    </section>
</main>

<%- include('../partials/panelProducto') %>

<script>
    window.listaProductosGlobal = ('<%- JSON.stringify(productos) %>');
</script>

<script src="/js/productDetail.js"></script>
<script src="/js/home.js"></script> 
